doctype html
html
  head
    include include/meta
    title= title
  body
    block content
  script(src="../public/js/jQuery/jquery-2.1.1.js")
  script(src="../public/js/bootstrap-3.1.1-dist/js/bootstrap.min.js")
  script(src="../public/js/bootstrap-collapsible-fieldset.js")
  
  script(type="text/javascript" charset="utf8" src="../public/js/dataTables-1.10.0/media/js/jquery.dataTables.js")
 